<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LunaSoft.StampClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LunaSoft.StampClient.Properties.Settings>
            <setting name="LunaSoft_StampClient_lunasoft_cfdi_timbrado_wsTimbrado"
                serializeAs="String">
                <value>https://cfdi.smartweb.com.mx/Timbrado/wsTimbrado.asmx</value>
            </setting>
            <setting name="LunaSoft_StampClient_lunasoft_cfdi_autenticacion_wsAutenticacion"
                serializeAs="String">
                <value>https://cfdi.smartweb.com.mx/Autenticacion/wsAutenticacion.asmx</value>
            </setting>
            <setting name="LunaSoft_StampClient_lunasoft_cfdi_cancelacion_wsCancelacion"
                serializeAs="String">
                <value>https://cfdi.smartweb.com.mx/Cancelacion/wsCancelacion.asmx</value>
            </setting>
        </LunaSoft.StampClient.Properties.Settings>
    </applicationSettings>
</configuration>