<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="brokersPAC" value="LunaSoftPCC" />
    <add key="pathXSD" value="Extras\XSD\" />        
    <!-- Cambiar PathSat por CertificadoSAT_productivo en ambiente productivo -->
    <add key="PathSat" value="Extras\CertificadoSAT_pruebas\" />
    <!--Pruebas-->
    <add key="URLStampingLS" value="http://pruebascfdi.smartweb.com.mx/Timbrado/wsTimbrado.asmx" />
    <add key="URLCancelacionLS" value="http://pruebascfdi.smartweb.com.mx/Cancelacion/wsCancelacion.asmx" />
    <add key="URLAutenticateLS" value="http://pruebascfdi.smartweb.com.mx/Autenticacion/wsAutenticacion.asmx" />
    <add key="UserLS" value="demo" />
    <add key="PassLS" value="123456789" />
  </appSettings>
  
  
</configuration>